%section.g-section.g-slider
  #main-slider
    .g-slider__item{:style => "background-image: url(#{image_url('static/slider/slide_1.jpg')})"}
      .g-slider__item-wrapper
        .g-wrapper.g-slider__content
          %h2.g-slider__title
            Кошер
            = succeed "\u{421}\u{435}\u{440}\u{442}\u{438}\u{444}\u{438}\u{43a}\u{430}\u{446}\u{438}\u{44f}-\u{41a}\u{420}" do
              %br.g-mobile/
          %p.g-slider__text Система добровольной сертификации продуктов питания
          %a.g-btn.g-btn_yelow.g-slider__btn Что это такое?
    .g-slider__item{:style => "background-image: url(#{image_url('static/slider/slide_1.jpg')})"}
      .g-slider__item-wrapper
        .g-wrapper.g-slider__content
          %h2.g-slider__title
            Кошер
            = succeed "\u{421}\u{435}\u{440}\u{442}\u{438}\u{444}\u{438}\u{43a}\u{430}\u{446}\u{438}\u{44f}-\u{41a}\u{420}" do
              %br.g-mobile/
          %p.g-slider__text Система добровольной сертификации продуктов питания
          %a.g-btn.g-btn_yelow.g-slider__btn Что это такое?
    .g-slider__item{:style => "background-image: url(#{image_url('static/slider/slide_1.jpg')})"}
      .g-slider__item-wrapper
        .g-wrapper.g-slider__content
          %h2.g-slider__title
            Кошер
            = succeed "\u{421}\u{435}\u{440}\u{442}\u{438}\u{444}\u{438}\u{43a}\u{430}\u{446}\u{438}\u{44f}-\u{41a}\u{420}" do
              %br.g-mobile/
          %p.g-slider__text Система добровольной сертификации продуктов питания
          %a.g-btn.g-btn_yelow.g-slider__btn Что это такое?

%section.g-section.g-section_news
  .g-wrapper
    =link_to "все новости", posts_path, class: "g-btn g-btn_gray g-news-top-btn"
    %h2.g-title
      Новости
    .g-blog
      -@posts.each do |post|
        =link_to post_path(post) do
          .g-blog__item
            =image_tag post.logo, class: 'g-blog__img'
            %h3.g-blog__title=post.title
            %p.g-blog__more=truncate(post.body, length: 200)
            %p.g-blog__date=published_date(post)
    .g-blog-read
      %a.g-btn.g-btn_gray.g-mobile{:href => "#"} загрузить еще
      =link_to "все новости", posts_path, class: "g-btn g-btn_gray"



