%section.g-section.g-slider
  #main-slider
    .g-slider__item{:style => "background-image: url(#{image_url('static/slider/slide_1.jpg')})"}
      .g-slider__item-wrapper
        .g-wrapper.g-slider__content
          %h2.g-slider__title
            Кошер
            = succeed "\u{421}\u{435}\u{440}\u{442}\u{438}\u{444}\u{438}\u{43a}\u{430}\u{446}\u{438}\u{44f}-\u{41a}\u{420}" do
              %br.g-mobile/
          %p.g-slider__text Система добровольной сертификации продуктов питания
          %a.g-btn.g-btn_yelow.g-slider__btn Что это такое?
    .g-slider__item{:style => "background-image: url(#{image_url('static/slider/slide_1.jpg')})"}
      .g-slider__item-wrapper
        .g-wrapper.g-slider__content
          %h2.g-slider__title
            Кошер
            = succeed "\u{421}\u{435}\u{440}\u{442}\u{438}\u{444}\u{438}\u{43a}\u{430}\u{446}\u{438}\u{44f}-\u{41a}\u{420}" do
              %br.g-mobile/
          %p.g-slider__text Система добровольной сертификации продуктов питания
          %a.g-btn.g-btn_yelow.g-slider__btn Что это такое?
    .g-slider__item{:style => "background-image: url(#{image_url('static/slider/slide_1.jpg')})"}
      .g-slider__item-wrapper
        .g-wrapper.g-slider__content
          %h2.g-slider__title
            Кошер
            = succeed "\u{421}\u{435}\u{440}\u{442}\u{438}\u{444}\u{438}\u{43a}\u{430}\u{446}\u{438}\u{44f}-\u{41a}\u{420}" do
              %br.g-mobile/
          %p.g-slider__text Система добровольной сертификации продуктов питания
          %a.g-btn.g-btn_yelow.g-slider__btn Что это такое?
%section.g-section.g-section_news
  .g-wrapper
    %a.g-btn.g-btn_gray.g-news-top-btn{:href => "#"} все новости
    %h2.g-title
      Новости
    .g-blog
      .g-blog__item
        =image_tag 'static/blog/1.png', class: 'g-blog__img'
        %h3.g-blog__title Компания ООО «Эверест» производит кошерную продукцию
        %p.g-blog__more Компания ООО «Эверест» специализируется на производстве продуктов здорового питания. Работает на рынке с 2000-го года и поставляет бакалейную, диетическую, хлебобулочную продукцию под торговой маркой «ОГО!». После проверки продукции на соблюдение ... еврейского диетарного закона, ООО «Эверест», получил сертификат кошерности, который удостоверяет, что продукция на данном предприятии производится под контролем Департамента кашрута при Главном раввинате России.
        %p.g-blog__date 31 декабря 2016
      .g-blog__item
        =image_tag 'static/blog/2.png', class: 'g-blog__img'
        %h3.g-blog__title Продукция «таманский завод по переработке маслосемян» признана кошерной
        %p.g-blog__more После проверки производства компании «Таманский завод по переработке маслосемян» специалисты Департамента кашрута при Главном раввинате России выяснили, что переработка маслосемян  производство данной компанией растительных масел отвечает всем нормам ... которые предъявляются к кошерной продукции. О чем и был выдан соответствующий сертификат.
        %p.g-blog__date 31 декабря 2016
      .g-blog__item
        =image_tag 'static/blog/3.png', class: 'g-blog__img'
        %h3.g-blog__title Компании ЗАО «Агропродукт» был выдан сертификат кашрута
        %p.g-blog__more Компания ООО «Эверест» специализируется на производстве продуктов здорового питания. Работает на рынке с 2000-го года и поставляет бакалейную, диетическую, хлебобулочную продукцию под торговой маркой «ОГО!». После проверки продукции на соблюдение ... еврейского диетарного закона, ООО «Эверест», получил сертификат кошерности, который удостоверяет, что продукция на данном предприятии производится под контролем Департамента кашрута при Главном раввинате России.
        %p.g-blog__date 31 декабря 2016
      .g-blog__item
        =image_tag 'static/blog/4.png', class: 'g-blog__img'
        %h3.g-blog__title Продукция «таманский завод по переработке маслосемян» признана кошерной
        %p.g-blog__more После проверки производства компании «Таманский завод по переработке маслосемян» специалисты Департамента кашрута при Главном раввинате России выяснили, что переработка маслосемян  производство данной компанией растительных масел отвечает всем нормам ... которые предъявляются к кошерной продукции. О чем и был выдан соответствующий сертификат.
        %p.g-blog__date 31 декабря 2016
      .g-blog__item
        =image_tag 'static/blog/5.png', class: 'g-blog__img'
        %h3.g-blog__title Компании ЗАО «Агропродукт» был выдан сертификат кашрута
        %p.g-blog__more Компания ООО «Эверест» специализируется на производстве продуктов здорового питания. Работает на рынке с 2000-го года и поставляет бакалейную, диетическую, хлебобулочную продукцию под торговой маркой «ОГО!». После проверки продукции на соблюдение ... еврейского диетарного закона, ООО «Эверест», получил сертификат кошерности, который удостоверяет, что продукция на данном предприятии производится под контролем Департамента кашрута при Главном раввинате России.
        %p.g-blog__date 31 декабря 2016
      .g-blog__item
        =image_tag 'static/blog/6.png', class: 'g-blog__img'
        %h3.g-blog__title Компании ЗАО «Агропродукт» был выдан сертификат кашрута
        %p.g-blog__more Компания ООО «Эверест» специализируется на производстве продуктов здорового питания. Работает на рынке с 2000-го года и поставляет бакалейную, диетическую, хлебобулочную продукцию под торговой маркой «ОГО!». После проверки продукции на соблюдение ... еврейского диетарного закона, ООО «Эверест», получил сертификат кошерности, который удостоверяет, что продукция на данном предприятии производится под контролем Департамента кашрута при Главном раввинате России.
        %p.g-blog__date 31 декабря 2016
      .g-blog__item
        =image_tag 'static/blog/1.png', class: 'g-blog__img'
        %h3.g-blog__title Компании ЗАО «Агропродукт» был выдан сертификат кашрута
        %p.g-blog__more Компания ООО «Эверест» специализируется на производстве продуктов здорового питания. Работает на рынке с 2000-го года и поставляет бакалейную, диетическую, хлебобулочную продукцию под торговой маркой «ОГО!». После проверки продукции на соблюдение ... еврейского диетарного закона, ООО «Эверест», получил сертификат кошерности, который удостоверяет, что продукция на данном предприятии производится под контролем Департамента кашрута при Главном раввинате России.
        %p.g-blog__date 31 декабря 2016
      .g-blog__item
        =image_tag 'static/blog/2.png', class: 'g-blog__img'
        %h3.g-blog__title Компании ЗАО «Агропродукт» был выдан сертификат кашрута
        %p.g-blog__more Компания ООО «Эверест» специализируется на производстве продуктов здорового питания. Работает на рынке с 2000-го года и поставляет бакалейную, диетическую, хлебобулочную продукцию под торговой маркой «ОГО!». После проверки продукции на соблюдение ... еврейского диетарного закона, ООО «Эверест», получил сертификат кошерности, который удостоверяет, что продукция на данном предприятии производится под контролем Департамента кашрута при Главном раввинате России.
        %p.g-blog__date 31 декабря 2016
    .g-blog-read
      %a.g-btn.g-btn_gray.g-mobile{:href => "#"} загрузить еще
      %a.g-btn.g-btn_gray{:href => "#"} все новости
%section.g-section.g-section_partners
  .g-wrapper.g-slider.g-slider_partners
    #partners-slider.g-partners
      .g-partners__item
        =image_tag 'static/partners/eop.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/aqua_nova.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/morosha.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/mars.jpg', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/everest.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/pervak.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/eop.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/aqua_nova.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/morosha.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/mars.jpg', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/everest.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/pervak.png', class: 'g-partners__img'


