-meta og: {title: @city.seo_title, image: @city.seo_image(request), description: @city.seo_description, keywords: @city.seo_keywords}
-meta keywords: @city.seo_keywords
-meta description: @city.seo_description

-if @objects.present?
  %section.g-section
    .g-wrapper
      %h2.g-title.g-title_big
        ="Кошерные #{@type}"
      %ul.g-restaurants
        -@objects.each do |object|
          %li.g-restaurants__item
            .g-restaurants__left
              =image_tag object.logo, class: "g-restaurants__logo"
            .g-restaurants__right
              %h2.g-restaurants__title=object.title
              .g-restaurants__description=markdown(object.description)
              %p.g-restaurants__adress
                =object.address
                %br/
                -object.phones.each do |phone|
                  =phone.value
                  %br/
                %span.g-restaurants__adress_time
                  =object.opening_hours.map { |oh| "#{oh.title}: #{oh.value}"}.join("; ")
                =link_to object.url, object.url, target: "_blank", class: "g-restaurants__link"
      =render partial: 'front/navigation/pager', locals: {path: "city_#{@objects.model.name.downcase.pluralize}_path", page: @page}

-else
  %section.g-section.g-empty
    .g-wrapper
      %h2.g-title.g-title_big
        ="Кошерные #{@type}"
      =image_tag 'icons/shop.svg', class: "g-empty__icon"
      %h2.g-empty__text="#{@type.capitalize} отсутствуют"