!!!
%html
  %head
    -unless Rails.env.test? 
      = metamagic site: @settings.title, title: [:site, :title, get_meta_from_breadcrumbs(@breadcrumbs).join(" — ")], separator: " — ", description: [:description, @settings.description], keywords: [:keywords, "kosher", "кошерная еда", "кашрут"]
    -if current_page?(root_path)
      =metamagic og: {image: "#{request.protocol}#{request.host_with_port}#{@settings.logo}", title: @settings.title, description: @settings.description, url: "#{request.protocol}#{request.host_with_port}", type: "website"}
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{:content => "5274a14eb11a8eac", :name => "yandex-verification"}/

    %link{:href => "https://fonts.googleapis.com/css?family=Rubik:300,400,500,900&subset=cyrillic", :rel => "stylesheet"}/
    %link{:href => "/favicon.ico", :media => "screen", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    = stylesheet_link_tag 'front', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css", :rel => "stylesheet"
    = javascript_include_tag 'front', 'data-turbolinks-track' => true



  %body{class: "#{controller_name} #{action_name} g-body", "data-no-turbolink" => "true"}
    -flash.each do |name, msg|
      =content_tag(:div, msg, class: "alert alert-#{name}")
    .g-content
      =render partial: 'front/navigation/header'
      -unless controller_name == "static_pages" && action_name == "home"
        =render partial: 'front/navigation/breadcrumbs'
      =yield
      =render partial: 'front/shared/partners'
      =render partial: 'front/navigation/footer'
      =render partial: 'front/navigation/footer_popups'
    =render partial: 'layouts/social'

  = javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js", 'data-turbolinks-track' => true
  